---
layout: default
---

<section class="posts hfeed">
{% for post in site.posts %}
{% unless post.link or rendered_one %}
<article class="hentry">
<header>
<h2 class=entry-title><a rel=bookmark href="{{ post.url }}">{{ post.title }}</a></h2>
<time datetime="{{ post.date | date_to_xmlschema }}" class=published pubdate>{{ post.date | date_to_string }}</time>
</header>
{% if page.description %}<p class=entry-summary>{{ post.description }}</p>{% endif %}
</article>
{% assign rendered_one = true %}
{% endunless %}
{% endfor %}
</section>
